<div class="container add-student-container">
      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header style="text-align: center;">
            <h3 style="text-align: center"></h3>
            Pacientes
          </mat-expansion-panel-header>

        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Gestão de paciente
            </mat-panel-title>
            <mat-panel-description>
              {{newPatient ? 'Adicionar' : 'Editar'}} paciente
            </mat-panel-description>
          </mat-expansion-panel-header>

          <div>

            <div>
              <mat-form-field appearance="outline" class="form-element">
                <mat-label>Nome</mat-label>
                <input matInput [(ngModel)]="patientForm.name" />
              </mat-form-field>
            </div>

            <!-- <div>
            <mat-form-field appearance="outline" class="form-element">
              <mat-label>Last Name</mat-label>
              <input matInput [(ngModel)] ="studentForm.lastName"/>
            </mat-form-field>
          </div> -->
            <!-- <div>
            <mat-form-field appearance="outline" class="form-element">
              <mat-label>Gender</mat-label>
              <mat-select [(ngModel)] ="studentForm.gender">
                <mat-option value="Male">Male</mat-option>
                <mat-option value="Female">Female</mat-option>
              </mat-select>
            </mat-form-field>
          </div> -->
            <!-- <div>
            <mat-form-field appearance="outline" class="form-element">
              <mat-label>Age</mat-label>
              <input matInput  type="number" [(ngModel)] ="studentForm.age"/>
            </mat-form-field>
          </div> -->
            <div>
              <button mat-raised-button color="primary" (click)="create()">Cadastrar</button>
            </div>
          </div>

        </mat-expansion-panel>
      </mat-accordion>




    <!-- </mat-card> -->
</div>
